{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}
{% block main %}
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
          <input placeholder="Titre" id="Titre" type="text" class="validate">
          <label for="Titre">Titre de l'article</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="Contenu" class="materialize-textarea"></textarea>
        <label for="Contenu">Contenu de l'article</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>
  </form>
</div>
{{form (form)}}
{% endblock %}
