{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/error.css') }}" />
{% endblock %}
{% block title %}Créer un article{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">{{form(form)}} </div>
  </div>
</div>
{% endblock %}
