<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/styles.css')}}" />
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"> </script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="https://apis.google.com/js/platform.js"></script>
        <title>{% block title %}Grotudiant - {{ pageTitle }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <header>

        {% block nav %}
          <nav>
            <div class="button-collapse nav-wrapper light-blue darken-4">
              <a href="/" class="brand-logo center">Grotudiant</a>
            </div>
          </nav>

        {% endblock %}

      </header>
        {% block body %}
          <center>{% block pageTitle %}{% endblock %}</center>
          {% block content %}{% endblock %}

          <!-- Pour que le footer soit fixé en bas (voir css) -->
          <main></main>
            <!-- back to TOP ! -->
          <div class="fixed-action-btn">
            <a id="back-to-top" class="btn-floating btn-large blue scale-transition">
              <i class="large material-icons">keyboard_arrow_up</i>
            </a>
          </div>
          {% block footer %}
                <footer class="page-footer light-blue darken-4" >
                    <div class="container">
                      <div class="row">
                        <div class="col l6 s12">
                          <h5 class="white-text">Groréseau sociaux</h5>
                          <p class="grey-text text-lighten-4">"Santé Bonheur ! Santé bonne humeur !"</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                          <h5 class="white-text">Grosociaux</h5>
                          <ul>
                            <li><a href="https://twitter.com/groland?lang=fr" class="twitter-follow-button" data-show-count="false">Tweet</a></li>
                            <li><div class="g-ytsubscribe" data-channel="GrolandCANAL" data-layout="default" data-count="default"></div></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-copyright">
                      <div class="container">
                      © 2019 Copyright Grotudiant
                      </div>
                    </div>
                  </footer>

          {% endblock %}
        {% endblock %}

    </body>
    <script src="{{ asset('js/scrollTop.js') }}"></script>

    {% block javascripts %}

    {% endblock %}
</html>
